# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
/nbproject/project.properties
/nbproject/*.properties

build\.xml

nbproject/build-impl\.xml

*.properties
/nbproject/licenseheader.txt
/nbproject/build-impl.xml
/nbproject/configs/Run_as_WebStart.properties
/nbproject/configs/Run_in_Browser.properties
/nbproject/genfiles.properties
/build.xml
/.RData
/.Rhistory
/fitness_Vert.csv
/fitness_Blanc.csv
/fitness_Bleu.csv
/fitness_Orange.csv
/fitness_Rouge.csv
/doc/soutenance_oral.out
/doc/soutenance_oral.pdf
/doc/soutenance_oral.snm
/doc/soutenance_oral.synctex.gz
/doc/soutenance_oral.toc
/doc/soutenance_oral.aux
/doc/soutenance_oral.log
/doc/soutenance_oral.nav
